

.card
{
    animation: show 1s;
}

.card .img
{
    height: 204px;
    background-color: #ddd;
    position: relative;
}

@keyframes show {
    0%{
      opacity: 0;
      transform: translateY(30px);
    }
  
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }

.card .img img
{
    object-fit: cover;
}

.card .title
{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.card .subtitle
{
    font-size: 18px;
    color: #666;
    margin-top: 5px;
}

.card .footer
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 5px;
}

.card .footer a
{
    font-size: 16px;
    text-decoration: none;
}

.card .footer span
{
    color: #666;
    font-size: 16px;
}