
.main .banner
{
    height: 450px;
    background-color: #eee;
    position: relative;
}

.main .banner .overlay
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000c5;
}

.main .banner .overlay .title
{
    color: #fff;
    margin-top: 200px;
}

.main .banner .overlay .title h1
{
    font-size: 46px;
    margin-bottom: 5px;
}

.main .banner .overlay .title p
{
    font-size: 34px;
}

.main .grid
{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 40px 30px;
    margin-top: -100px;
    position: relative;
    margin-bottom: 70px;
}

